/* Reset */

* {
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* Default */

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "Inter Bold";
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}

/* Variables and Presets */
:root {
  /* color */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-grey-300: rgb(197, 198, 206);
  --color-grey-200: rgb(216, 216, 216);
  --color-navy-950: rgb(0, 0, 26);
  --color-navy-600: rgb(94, 96, 122);
  --color-gold: rgb(233, 170, 82);
  --color-red-500: rgb(241, 93, 81);
  /* spacing */
  --spacing-100: 8px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-800: 64px;
  --spacing-1100: 88px;
  /* text preset 1 */
  --fontfamily-preset-1: "Inter ExtraBold";
  --fontsize-preset-1: 3.5rem; /* 56px */
  --lineheight-preset-1: 3.5rem; /* 56px */
  --letterspacing-preset-1: 0; /* 0px */
  /* text preset 2 */
  --fontfamily-preset-2: "Inter ExtraBold";
  --fontsize-preset-2: 2.5rem; /* 40px */
  --lineheight-preset-2: 2.5rem; /* 40px */
  --letterspacing-preset-2: 0; /* 0px */
  /* text preset 3 */
  --fontfamily-preset-3: "Inter Bold";
  --fontsize-preset-3: 2rem; /* 32px */
  --lineheight-preset-3: 2rem; /* 32px */
  --letterspacing-preset-3: 0; /* 0px */
  /* text preset 4 */
  --fontfamily-preset-4: "Inter ExtraBold";
  --fontsize-preset-4: 1.25rem; /* 20px */
  --lineheight-preset-4: 1.5rem; /* 24px */
  --letterspacing-preset-4: 0; /* 0px */
  /* text preset 5 */
  --fontfamily-preset-5: "Inter ExtraBold";
  --fontsize-preset-5: 1.125rem; /* 18px */
  --lineheight-preset-5: 1.25rem; /* 24px */
  --letterspacing-preset-5: 0; /* 0px */
  /* text preset 6 */
  --fontfamily-preset-6: "Inter Regular";
  --fontsize-preset-6: 0.938rem; /* 15px */
  --lineheight-preset-6: 1.625rem; /* 26px */
  --letterspacing-preset-6: 0; /* 0px */
  /* text preset 7 */
  --fontfamily-preset-7: "Inter Bold";
  --fontsize-preset-7: 0.875rem; /* 14px */
  --lineheight-preset-7: 1.5rem; /* 24px */
  --letterspacing-preset-7: 0.274rem; /* 4.38px */
}

/* Font setting template */

html {
  font-family: var(--fontfamily-preset-6);
  font-size: var(--fontsize-preset-6);
  line-height: var(--lineheight-preset-6);
  letter-spacing: var(--letterspacing-preset-6);
}

.page-banner {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
  padding: var(--spacing-300) var(--spacing-300);

  .site-logo {
    flex-grow: 1;
    object-fit: contain;
    object-position: left;
    height: var(--spacing-300);
  }

  button {
    background-color: transparent;
    border: none;
  }

  nav {
    display: none;
  }
}

.page-banner nav ul {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-800);
  padding: var(--spacing-1100) var(--spacing-300);
}

.featured-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--spacing-300);

  img {
    width: 100%;
    object-fit: contain;
  }
}

.featured-section .text-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);

  h2 {
    font-family: var(--fontfamily-preset-2);
    font-size: var(--fontsize-preset-2);
    line-height: var(--lineheight-preset-2);
    letter-spacing: var(--letterspacing-preset-2);
    color: var(--color-navy-950);
  }

  p {
    font-family: var(--fontfamily-preset-6);
    font-size: var(--fontsize-preset-6);
    line-height: var(--lineheight-preset-6);
    letter-spacing: var(--letterspacing-preset-6);
    color: var(--color-navy-600);
  }

  button {
    background-color: var(--color-red-500);
    max-width: 185px;
    padding: var(--spacing-100) var(--spacing-400);
    border: none;

    font-family: var(--fontfamily-preset-7);
    font-size: var(--fontsize-preset-7);
    line-height: var(--lineheight-preset-7);
    letter-spacing: var(--letterspacing-preset-7);
    color: var(--color-navy-950);
    text-transform: uppercase;
  }
}

.new-section {
  background-color: var(--color-navy-950);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-400);
  color: var(--color-white);
  padding: var(--spacing-300);

  h2 {
    font-family: var(--fontfamily-preset-3);
    font-size: var(--fontsize-preset-3);
    line-height: var(--lineheight-preset-3);
    letter-spacing: var(--letterspacing-preset-3);
    color: var(--color-gold);
  }

  ol {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-400);
    list-style: none;

    li {
      border-bottom: 1px solid var(--color-navy-600);
      padding-bottom: var(--spacing-400);
    }
    li:last-child {
      border-bottom: none;
      padding: 0px;
    }
  }
}

.new-section ol li {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);

  h3 {
    font-family: var(--fontfamily-preset-4);
    font-size: var(--fontsize-preset-4);
    line-height: var(--lineheight-preset-4);
    letter-spacing: var(--letterspacing-preset-4);
    color: var(--color-white);
  }

  p {
    font-family: var(--fontfamily-preset-6);
    font-size: var(--fontsize-preset-6);
    line-height: var(--lineheight-preset-6);
    letter-spacing: var(--letterspacing-preset-6);
    color: var(--color-grey-300);
  }
}

.popular-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-400);

  ol {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-400);
    list-style: none;
  }
}

.popular-section ol li {
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: var(--spacing-300);
  row-gap: var(--spacing-400);
  justify-content: flex-start;

  img {
    object-fit: cover;
    max-height: 130px;
  }
}

.popular-section ol li div {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-100);
  justify-content: center;

  .popular-section-rank {
    font-family: var(--fontfamily-preset-3);
    font-size: var(--fontsize-preset-3);
    line-height: var(--lineheight-preset-3);
    letter-spacing: var(--letterspacing-preset-3);
    color: var(--color-red-500);
  }

  .article-title {
    font-family: var(--fontfamily-preset-5);
    font-size: var(--fontsize-preset-5);
    line-height: var(--lineheight-preset-5);
    letter-spacing: var(--letterspacing-preset-5);
    color: var(--color-navy-950);
  }

  .article-description {
    font-family: var(--fontfamily-preset-6);
    font-size: var(--fontsize-preset-6);
    line-height: var(--lineheight-preset-6);
    letter-spacing: var(--letterspacing-preset-6);
    color: var(--color-navy-600);
  }
}

@media (min-width: 767px) {
  header,
  main {
    max-width: 600px;
  }
}

@media (min-width: 1130px) {
  header,
  main {
    max-width: 1190px;
    overflow: hidden;
  }

  .page-banner {
    nav {
      display: block;
    }

    button {
      display: none;
    }
  }

  .page-banner nav ul {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-500);
    list-style: none;
  }

  main {
    display: grid;
    grid-template-columns: auto 350px;
    column-gap: var(--spacing-500);
    row-gap: var(--spacing-800);
  }

  .featured-section {
    .text-content {
      display: grid;
      grid-template-columns: repeat(2, 350px);
      align-items: center;
      column-gap: var(--spacing-500);
    }
  }
  .featured-section .text-content {
    h2 {
      grid-row-start: 1;
      grid-row-end: span 2;
      font-family: var(--fontfamily-preset-1);
      font-size: var(--fontsize-preset-1);
      line-height: var(--lineheight-preset-1);
      letter-spacing: var(--letterspacing-preset-1);
      color: var(--color-navy-950);
    }
  }

  .popular-section {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .popular-section ol {
    flex-direction: row;
    column-gap: var(--spacing-500);
    li {
      flex-basis: 350px;
    }
  }
}
